<header class="main-header">
	<div class="container">
            <div class="row text-center">
                <div class="col-sm-24">
                    <h1>{{@blog.title}}</h1>    
                </div>
            </div>
        </div>
</header>