<nav class="main-navigation">
    <div class="container">
        <div class="row">
            <div class="col-sm-24">
                <div class="collapse navbar-collapse" id="main-menu">
                    <ul class="nav navbar-nav">
                     {{#foreach navigation}}
                            <li class="nav-{{slug}}{{#if current}} nav-current{{/if}} " role="presentation"><a href="{{url absolute="true"}}">{{label}}</a></li>
                        {{/foreach}}
                    </ul>   
                </div>
            </div>
        </div>
    </div>
</nav>
