<div class="widget">
	<h4 class="title">联系</h4>
	<div class="content download">
		交流QQ群 :<br/>
		188275973( 新 )<br/>
		66792164 ( 满 )
	</div>
</div>
<div class="widget">
	<h4 class="title">活动</h4>
	<div class="content download">
		交流QQ群 :<br/>
		188275973( 新 )<br/>
		66792164 ( 满 )
	</div>
</div>
